main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 20rem;
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
