.footer-component {
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--moc-yellow);
    color: white;
    height: 3rem;
    .open-select-language {
        cursor: pointer;
        i {
            color: var(--moc-rust);
        }
    }
    .scanner {
        cursor: pointer;
        mat-icon {
            color: var(--moc-rust);
        }
    }
}

.backdropBackground {
    background-color: red;
    backdrop-filter: blur(4px);
}
