@import url("https://fonts.cdnfonts.com/css/baumans");

.app-scan-result {
    mat-spinner {
        margin: 3rem auto;
    }
    .scan-results-component {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 500px;
        margin: auto;
        background-color: var(--moc-green);
        .name {
            font-family: "Baumans", display;
            position: fixed;
            width: 100%;
            max-width: 500px;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--moc-yellow);
            color: var(--moc-rust);
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
        }
        .scrollable {
            // outline: 5px solid red;

            margin-top: 2.5rem;
            img {
                width: 100%;
            }
            padding: 1rem;
            .description {
                color: var(--moc-white);
                font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
                // border: 1px solid black;
                // p {
                //     color: red;
                //     a {
                //         color: black;
                //         border: 1px solid black;
                //     }
                // }
            }
            audio {
                width: 100%;
            }
        }
    }
}
