<main>
    <div class="message">{{data.message}}</div>
    <form [formGroup]="form">

        <mat-form-field>
            <input type="email"
                formControlName="email"
                matInput
                #emailInput>
        </mat-form-field>
    </form>

    <button class="confirm"
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        (click)="onConfirm()">confirm</button>
    <button class="cancel"
        mat-raised-button
        color="primary"
        (click)="onCancel()">cancel</button>

</main>
