main {
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 25rem;
    min-width: 20rem;
    padding: 1rem;
    form {
        // width: 100%;
        mat-form-field {
            width: 100%;
        }
    }
}
