mat-toolbar {
    // border: 2px solid green;
    background-color: var(--moc-rust);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    .toolbar-left {
        // border: 2px solid red;
        display: flex;
        gap: 1rem;
        align-items: center;
        .menu {
            // border: 2px solid pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            mat-icon {
                // border: 2px solid lightblue;
                color: var(--moc-yellow);
            }
        }
        .home {
            // border: 2px solid orange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            border: 3px solid white;
            border-radius: 50%;
            img {
                // border: 2px solid yellow;
                width: 2rem;
            }
        }
    }
    .toolbar-right {
        // border: 1px solid white;
        display: flex;
        align-items: center;
        gap: 1rem;

        .streetview {
            cursor: pointer;
            // border: 1px solid pink;
            mat-icon {
                color: var(--moc-yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .venue-logo {
            // max-height: 24px;
            max-width: 3rem;
            // border: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            cursor: pointer;
            img {
                background-color: white;
                width: 100%;
                border: 3px solid white;
            }
        }
        .venues {
            // border: 1px solid pink;
            span {
                color: var(--moc-yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .account {
            // border: 1px solid pink;
            span {
                color: var(--moc-yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .admin {
            // border: 1px solid pink;
            i {
                color: var(--moc-yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .logout,
        .login {
            cursor: pointer;
            // border: 1px solid pink;
            span {
                color: var(--moc-yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.linkActive {
    color: red;
    border: 3px solid var(--moc-green);
    padding: 0.3rem;
    border-radius: 50%;
}
a {
    color: white;
}
