.home-page-component {
    height: calc(100vh - 56px - 3rem);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto 1fr;
    // border: 2px solid red;

    .home {
        // height: 20rem;
        overflow-y: auto;
        .header {
            position: fixed;
            background-color: white;
            width: 100%;
            padding-bottom: 0.5rem;
            z-index: 1;
        }
        p {
            margin-top: 3rem;
        }
        // border: 2px solid green;
    }
    .login {
        // border: 2px solid pink;
        cursor: pointer;
        color: black;
        display: flex;
        justify-content: flex-end;
    }
}
