.lsc-name-component {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    // padding: 1rem;
    // background-color: lightgray;
    form {
        display: grid;
        grid-template-columns: 1fr;
        mat-form-field {
            label {
                font-style: italic;
            }
            input {
                text-transform: capitalize;
            }
        }
    }
}
