<!-- For camera -->

<ngx-scanner-qrcode #scanner
    [config]="config"
    [isBeep]="false"
    #action="scanner"
    (event)="onEvent($event, action)"></ngx-scanner-qrcode>

<!-- data  -->
<span>{{ action.data.value | json }}</span><!-- value -->
<span>{{ action.data | async | json }}</span><!-- async -->

<!-- Loading -->
<!-- <p *ngIf="action.isLoading">⌛ Loading...</p> -->

<!-- start -->
<!-- <button #button
    (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button> -->
<!-- <div class="buttons">

    <button mat-raised-button
        (click)="onBlokZeeburgerdijk()">
        Blok Zeeburgerdijk
    </button>
    <button mat-raised-button
        (click)="onAmsterdamseSchool()">amsterdamse school</button>
</div> -->
