<div class="items-list-component nested-component">
    <ul class="items-statistics">
        <li class="item-statistics"
            *ngFor="let item of statistics$|async">
            <!-- {{visits|json}} -->
            <div class="item-name">
                {{item.visits[0].itemName}}
            </div>
            <div class="visits-length">
                {{item.visits.length}}
            </div>
            <button [color]="item.id === selectedItemId ? 'warn' : 'primary'"
                mat-mini-fab
                (click)="onGetItemStats(item.id)">
                <mat-icon>search</mat-icon>
            </button>
        </li>
    </ul>
    <app-item-stats></app-item-stats>
</div>
