.items-list-component {
    // border: 3px solid red;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
.items-statistics {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    .item-statistics {
        padding: 0.2rem;
        border: 1px solid gray;
        display: grid;
        gap: 1rem;
        grid-template-columns: 6fr 1fr 1fr;
        align-items: center;
        .item-name {
            text-transform: capitalize;
        }
        .visits-length {
            // border: 1px solid red;
            justify-content: right;
            display: flex;
            // flex-direction: end;
        }
        button {
        }
    }
}
app-item-stats {
    grid-column: 3/-1;
}

.selected {
    border: 3px solid red;
}
