.app-language-description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    // padding: 1rem;
    // background-color: lightgray;
    form {
        // display: grid;
        grid-template-columns: 1fr;
        // position: relative;
        ngx-editor-menu {
            // position: sticky;
            // top: 0;
            // border: 3px solid red;?
        }
        div {
            max-height: 70vh;
            overflow: scroll;
            // border: 3px solid green;
            position: relative;
            // display: flex;
        }
    }
}
.descriptionAltered {
    border: 3px solid red;
}
