<div class="app-language-description nested-component">

    <div class="header-js">lsc description</div>

    <form [formGroup]="form">
        <ngx-editor-menu [editor]="editor"
            [toolbar]="toolbar"> </ngx-editor-menu>
        <div class="NgxEditor__Wrapper">
            <ngx-editor [editor]="editor"
                (keyup)="onDescriptionAltered()"
                spellcheck="false"
                placeholder="add description"
                formControlName="editorContent"> </ngx-editor>
        </div>
    </form>
    <button [disabled]="form.invalid"
        [ngClass]="descriptionAltered ? 'descriptionAltered':''"
        mat-raised-button
        color="primary"
        (click)="onSubmitDescriptionInput()">submit description</button>
    <button mat-raised-button
        color="primary"
        (click)="onCancel()">cancel</button>
</div>
